<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule (.*) /isupport/index.php/$1 [L,QSA]
</IfModule>
<IfModule !mod_rewrite.c>
    ErrorDocument 404 /isupport/index.php
</IfModule>
<FilesMatch "\.(ttf|otf|eot|woff|woff2|png)$">
  <IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
  </IfModule>
</FilesMatch>