.btn-primary {
  color: color-yiq(#8D0808);
  background-color: #8D0808;
  border-color: #8D0808;
}

.btn-primary:hover {
  color: color-yiq(#8D0808);
  background-color: #8D0808;
  border-color: #296e6d;
}

.btn-primary:focus, .btn-primary.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(55, 147, 146, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(55, 147, 146, 0.5);
}

.btn-primary.focus, .btn-primary:focus{
  color: color-yiq(#8D0808);
  background-color: #8D0808;
  border-color: #8D0808;
}

.btn-primary.disabled, .btn-primary:disabled {
  color: color-yiq(#8D0808);
  background-color: #8D0808;
  border-color: #8D0808;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: color-yiq(#8D0808);
  background-color: #8D0808;
  border-color: #8D0808;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(55, 147, 146, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(55, 147, 146, 0.5);
}

.btn-outline-primary {
  color: #8D0808;
  background-color: transparent;
  background-image: none;
  border-color: #8D0808;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #8D0808;
  border-color: #8D0808;
}

